.side-bar li{
    text-decoration: none;
    padding-bottom: 1em;
}

.side-bar ul {
    list-style: none;
    text-decoration: none;
}

.side-bar a{
    color: white;
}

.active-tab{
    border-left: 4px solid white;
}